@using MilestoneTracker.Model
@model WorkDataViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    IDictionary<string, double> sumByMilestone = new Dictionary<string, double>();
}
<style type="text/css">
    .column-header {
        font-size: 1.2em;
        font-weight: bolder;
        min-width: 150px;
        text-align: center;
    }

    .row-first-item {
        font-weight: bold;
        padding-left: 3px;
    }

    .row-item {
        text-align: center;
        width: 130px;
    }

    .row-last-item {
        font-weight: bolder;
        text-align: center;
    }

    .row-bottom-item {
        text-align: center;
        font-weight: bolder;
        font-size: 1.1em;
    }

    .row-item-max {
        color: red;
    }

    .row-item-min {
        color: green;
    }
</style>
<h2>Work</h2>
<table class="table-bordered">
    <thead>
        <tr>
            <td class="column-header">Member</td>
            @foreach (var milestone in Model.Milestones)
            {
                sumByMilestone[milestone] = 0;
                <td class="column-header">@milestone</td>
            }
            <td class="column-header">Total work per member</td>
        </tr>
    </thead>
    @foreach (var member in Model.Members)
    {
        <tr>
            <td class="row-item row-first-item @Model.GetClassForMemberCell(member)">@member</td>

            @foreach (var milestone in Model.Milestones)
            {
                var value = Model[member, milestone];
                sumByMilestone[milestone] += value;
                <td class="row-item">@value</td>
            }

            <td class="row-item row-last-item @Model.GetClassForMemberCell(member)">@Model[member]</td>
        </tr>
    }

    <tfoot>
        <tr>
            <td class="row-bottom-item row-first-item">Total work left</td>
            @foreach (var milestone in Model.Milestones)
            {
                var parms = new Dictionary<string, string>
                {
                    { "teamName", Model.TeamName },
                    { "milestone", milestone },
                };

                <td class="row-bottom-item row-item">
                    <a asp-page="MilestoneBurndown" asp-all-route-data="parms">
                        @sumByMilestone[milestone]
                    </a>
                </td>
            }

            <td class="row-bottom-item row-last-item">@Model.TotalAmountOfWork</td>
        </tr>
    </tfoot>
</table>