@using MilestoneTracker.Contracts;
@using MilestoneTracker.Model;

@model MergedPRsViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div>
    Pull requests merged during last 7 days.
</div>
<table>
    @foreach (PR pr in Model.PullRequests)
    {
        var memberIcon = Model.Team.TeamMembers.Where(tm => tm.Name == pr.CreatorLogin).SingleOrDefault()?.IconUrl;

        <tr>
            <td>
                @if (memberIcon != null)
                {
                    <img src="@memberIcon" class="profileIcon" />
                }

                @pr.CreatorLogin
            </td>
            <td><a href="@pr.Url" target="_blank"> @pr.Number</a></td>
            <td>@pr.Title</td>
        </tr>
    }
</table>
