@using MilestoneTracker.Contracts;
@using MilestoneTracker.Model;

@model MergedPRsViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    Pull requests merged during last 7 days.
</div>

<div> <span class="sectionHeader">Community PRs</span> </div>
<table class="table-bordered">
    @foreach (PR pr in Model.CommunityPRs)
    {
        var memberIcon = await Model.IconRetriever.GetUserProfileIconUrl(pr.CreatorLogin);

        <tr>
            <td class="row-first-item">
                @if (memberIcon != null)
                {
                    <img src="@memberIcon" class="profileIcon" />
                }

                @pr.CreatorLogin
            </td>
            <td class="row-item"><a href="@pr.Url" target="_blank"> @pr.Number</a></td>
            <td class="row-item">@pr.Title</td>
        </tr>
    }
</table>

<div> <span class="sectionHeader">Team PRs</span></div>
<table class="table-bordered">
    @foreach (PR pr in Model.InternalPRs)
    {
        var memberIcon = await Model.IconRetriever.GetUserProfileIconUrl(pr.CreatorLogin);

        <tr>
            <td class="row-first-item">
                @if (memberIcon != null)
                {
                    <img src="@memberIcon" class="profileIcon" />
                }

                @pr.CreatorLogin
            </td>
            <td class="row-item"><a href="@pr.Url" target="_blank"> @pr.Number</a></td>
            <td class="row-item">@pr.Title</td>
        </tr>
    }
</table>
